{% extends 'base.html' %}
{% block title %}
    Sticky Notes - {{ page_title }}
{% endblock %}
{% block content %}
<h2>{{ page_title}}</h2>

<a href="{% url 'note_create' %}" class="add-note-btn">Add Note</a>

<div class="notes-container">
    {% for note in notes %}
        <div class="notecard">
            <h3>
                <a href="{% url 'note_detail' pk=note.pk %}">{{ note.title }}</a>
            </h3>
            <p>{{ note.comment }}</p>
        </div>
    {% endfor %}
</div>
{% endblock content %}